<!DOCTYPE html>
<html class="notranslate" lang="id">
<body>
	<p>
		Adanya Kebijakan Privasi ini adalah komitmen nyata dari DECS untuk menghargai dan melindungi setiap data atau informasi pribadi Pengguna aplikasi DECS (selanjutnya disebut sebagai "DECS").
	</p>
	<p>
		Kebijakan Privasi ini (beserta syarat-syarat penggunaan dari Aplikasi DECS sebagaimana tercantum dalam "Syarat & Ketentuan" dan informasi lain yang tercantum di Aplikasi DECS) menetapkan dasar atas perolehan, pengumpulan, pengolahan, penganalisisan, penampilan, pembukaan, dan/atau segala bentuk pengelolaan yang terkait dengan data atau informasi yang Pengguna berikan kepada DECS atau yang DECS kumpulkan dari Pengguna, termasuk data pribadi Pengguna, baik pada saat Pengguna melakukan pendaftaran di Aplikasi, mengakses Aplikasi, maupun mempergunakan layanan-layanan pada Aplikasi (selanjutnya disebut sebagai "data").
	</p>
	<p>
		Dengan mengakses dan/atau mempergunakan layanan DECS, Pengguna menyatakan bahwa setiap data Pengguna merupakan data yang benar dan sah, serta Pengguna memberikan persetujuan kepada DECS untuk memperoleh, mengumpulkan, menyimpan, mengelola dan mempergunakan data tersebut sebagaimana tercantum dalam Kebijakan Privasi maupun Syarat dan Ketentuan DECS.
	</p>
	<ol type="A">
		<li style="font-weight: 800; margin-block-start: 1em; margin-block-end: 1em;">Perolehan dan Pengumpulan Data Pengguna</li>
		<p>DECS mengumpulkan data Pengguna dengan tujuan untuk memproses transaksi Pengguna, mengelola dan memperlancar proses Pengajuan Kredit, serta tujuan-tujuan lainnya selama diizinkan oleh peraturan perundang-undangan yang berlaku. Adapun data Pengguna yang dikumpulkan adalah sebagai berikut:</p>
		<ol type="1">
			<li style="margin-block-start: 1em; margin-block-end: 1em;">Data yang diserahkan secara mandiri oleh Pengguna, termasuk namun tidak terbatas pada data yang diserahkan pada saat Pengguna:</li>
			<ul>
				<li>Membuat atau memperbarui akun DECS, termasuk diantaranya nama, alamat email, nomor telepon, password, foto, dan lain-lain;</li>
				<li>Menghubungi DECS, termasuk melalui layanan konsumen;</li>
				<li>Mengisi survei yang dikirimkan oleh DECS atau atas nama DECS;</li>
				<li>Mempergunakan layanan-layanan pada Aplikasi, termasuk data transaksi yang detil, diantaranya jenis kredit, nama konsumen, nomor telepon konsumen, ktp dan/atau keterangan dari produk atau layanan yang dibeli, jumlah transaksi, jumlah angsuran, tanggal dan waktu transaksi, serta detil transaksi lainnya;</li>
				<li>Menggunakan fitur yang membutuhkan izin akses terhadap perangkat Pengguna.</li>
			</ul>
			<li style="margin-block-start: 1em; margin-block-end: 1em;">Data yang terekam pada saat Pengguna mempergunakan Aplikasi, termasuk namun tidak terbatas pada:</li>
			<ul>
				<li>Data lokasi riil atau perkiraannya seperti alamat IP, lokasi Wi-Fi, geo-location, dan sebagainya;</li>
				<li>Data berupa waktu dari setiap aktivitas Pengguna, termasuk aktivitas pendaftaran, login, transaksi, dan lain sebagainya;</li>
				<li>Data penggunaan atau preferensi Pengguna, diantaranya interaksi Pengguna dalam menggunakan Aplikasi, pilihan yang disimpan, serta pengaturan yang dipilih. Data tersebut diperoleh menggunakan cookies, pixel tags, dan teknologi serupa yang menciptakan dan mempertahankan pengenal unik;</li>
				<li>Data perangkat, diantaranya jenis perangkat yang digunakan untuk mengakses Aplikasi, termasuk model perangkat keras, sistem operasi dan versinya, perangkat lunak, nomor IMEI, nama file dan versinya, pilihan bahasa, pengenal perangkat unik, pengenal iklan, nomor seri, informasi gerakan perangkat, dan/atau informasi jaringan seluler;</li>
				<li>Data catatan (log), diantaranya catatan pada server yang menerima data seperti alamat IP perangkat, tanggal dan waktu akses, fitur aplikasi atau laman yang dilihat, proses kerja aplikasi dan aktivitas sistem lainnya, jenis peramban, dan/atau situs atau layanan pihak ketiga yang Anda gunakan sebelum berinteraksi dengan Situs. DECS dapat menggabungkan data yang diperoleh dari sumber tersebut dengan data lain yang dimilikinya.</li>
			</ul>
		</ol>
		<li style="font-weight: 800; margin-block-start: 1em; margin-block-end: 1em;">Penggunaan Data</li>
		<ol type="1">
			<li>Memproses segala bentuk permintaan, aktivitas maupun transaksi yang dilakukan oleh Pengguna melalui Aplikasi, termasuk untuk keperluan verifikasi kredit terhadap konsumen.</li>
			<li>Penyediaan fitur-fitur untuk memberikan, mewujudkan, memelihara dan memperbaiki produk dan layanan kami, termasuk:</li>
			<ul style="margin-block-start: 1em; margin-block-end: 1em;">
				<li>Perhitungan kalkulasi berdasarkan jenis kredit, nama barang, harga terbaru, dan bunga terbaru;</li>
				<li>Proses verifikasi dengan teknologi terbaru.</li>
			</ul>
			<li>Menghubungi Pengguna melalui email, surat, telepon, fax, dan lain-lain, termasuk namun tidak terbatas, untuk membantu dan/atau menyelesaikan proses transaksi maupun proses penyelesaian kendala.</li>
			<li>Menggunakan informasi yang diperoleh dari Pengguna untuk tujuan penelitian, analisis, pengembangan dan pengujian produk guna meningkatkan keamanan dan keamanan layanan-layanan pada Aplikasi, serta mengembangkan fitur dan produk baru.</li>
			<li>Menginformasikan kepada Pengguna terkait produk, layanan, promosi, perkembangan terbaru, acara dan lain-lain, baik melalui Aplikasi maupun melalui media lainnya.</li>
			<li>Melakukan monitoring ataupun investigasi terhadap transaksi-transaksi mencurigakan atau transaksi yang terindikasi mengandung unsur kecurangan atau pelanggaran terhadap Syarat dan Ketentuan atau ketentuan hukum yang berlaku, serta melakukan tindakan-tindakan yang diperlukan sebagai tindak lanjut dari hasil monitoring atau investigasi transaksi tersebut.</li>
			<li>Dalam keadaan tertentu, DECS mungkin perlu untuk menggunakan ataupun mengungkapkan data Pengguna untuk tujuan penegakan hukum atau untuk pemenuhan persyaratan hukum dan peraturan yang berlaku, termasuk dalam hal terjadinya sengketa atau proses hukum antara Pengguna dan DECS.</li>
		</ol>
		<li style="font-weight: 800; margin-block-start: 1em; margin-block-end: 1em;">Pengungkapan Data Pribadi Pengguna</li>
		<p>DECS menjamin tidak ada penjualan, pengalihan, distribusi atau meminjamkan data pribadi Anda kepada pihak ketiga lain, tanpa terdapat izin dari Anda, kecuali dalam hal-hal sebagai berikut:</p>
		<ol type="1">
			<li>Dibutuhkan adanya pengungkapan data Pengguna kepada mitra atau pihak ketiga lain yang membantu DECS dalam menyajikan layanan pada Aplikasi dan memproses segala bentuk aktivitas Pengguna dalam Aplikasi, termasuk memproses transaksi, verifikasi kredit, dan lain-lain.</li>
			<li>DECS dapat membagikan informasi Pengguna kepada anak perusahaan dan afiliasinya untuk membantu memberikan layanan atau melakukan pengolahan data untuk dan atas nama DECS.</li>
			<li>DECS dapat membagikan data atau informasi Pengguna yang diperlukan dalam rangka kelayakan kredit kepada lembaga atau biro pemeringkat kredit atau Lembaga Pengelola Informasi Perkreditan (LPIP).</li>
			<li>DECS mengungkapkan data Pengguna dalam upaya mematuhi kewajiban hukum dan/atau adanya permintaan yang sah dari aparat penegak hukum.</li>
		</ol>
		<li style="font-weight: 800; margin-block-start: 1em; margin-block-end: 1em;">Pilihan Pengguna dan Transparansi</li>
		<ol type="1">
			<li>Perangkat seluler pada umumnya (iOS, Android, dan sebagainya) memiliki pengaturan sehingga aplikasi DECS tidak dapat mengakses data tertentu tanpa persetujuan dari Pengguna. Perangkat iOS akan memberikan pemberitahuan kepada Pengguna saat aplikasi DECS pertama kali meminta akses terhadap data tersebut, sedangkan perangkat Android akan memberikan pemberitahuan kepada Pengguna saat aplikasi DECS pertama kali dimuat. Dengan menggunakan aplikasi dan memberikan akses terhadap aplikasi, Pengguna dianggap memberikan persetujuannya terhadap Kebijakan Privasi.</li>
			<li>Pengguna dapat mengakses dan mengubah informasi berupa password melalui fitur Ganti Password pada Aplikasi.</li>
			<li>Sejauh diizinkan oleh ketentuan yang berlaku, Pengguna dapat menghubungi DECS untuk melakukan penarikan persetujuan terhadap perolehan, pengumpulan, penyimpanan, pengelolaan dan penggunaan data Pengguna. Apabila terjadi demikian maka Pengguna memahami konsekuensi bahwa Pengguna tidak dapat menggunakan layanan Aplikasi maupun layanan DECS lainnya.</li>
		</ol>
		<li style="font-weight: 800;">Penyimpanan dan Penghapusan Informasi</li>
		<p>DECS akan menyimpan informasi selama akun Pengguna tetap aktif dan dapat melakukan penghapusan sesuai dengan ketentuan peraturan hukum yang berlaku.</p>
		<li style="font-weight: 800;">Pembaruan Kebijakan Privasi</li>
		<p>DECS dapat sewaktu-waktu melakukan perubahan atau pembaruan terhadap Kebijakan Privasi ini. DECS menyarankan agar Pengguna membaca secara seksama dan memeriksa halaman Kebijakan Privasi ini dari waktu ke waktu untuk mengetahui perubahan apapun. Dengan tetap mengakses dan menggunakan layanan Aplikasi maupun layanan DECS lainnya, maka Pengguna dianggap menyetujui perubahan-perubahan dalam Kebijakan Privasi.</p>
	</ol>
</body>
</html>