<!DOCTYPE html>
<html class="notranslate" lang="id">
<body>
	<p>
		Selamat datang di Aplikasi DECS.
	</p>
	<p>
		Syarat dan ketentuan yang diterapkan dibawah ini mengatur pemakaian aplikasi yang ditawarkan oleh PT Mega Central Finance terkait penggunaan aplikasi DECS. Pengguna disarankan membaca dengan seksama karena dapat berdampak kepada hak dan kewajiban Pengguna dibawah hokum.
	</p>
	<p>
		Dengan menggunakan aplikasi DECS, maka pengguna dianggap telah membaca, mengerti, memahami dan menyetujui semua isi dalam syarat dan ketentuan. Syarat dan ketentuan ini merupakan bentuk kesepakatan yang dituangkan dalam sebuah perjanjian yang sah antara pengguna dengan PT Mega Central Finance. Jika pengguna tidak menyetujui salah satu, sebagian atau seluruh isi Syarat dan ketentuan, maka pengguna tidak diperkenankan menggunakan layanan aplikasi DECS.
	</p>
	<ol type="1">
		<li style="font-weight: 800; margin-block-start: 1em; margin-block-end: 1em;">Definisi</li>
		<ul>
			<li>PT Mega Central Finance adalah persero terbatas yang menjalankan kegiatan usaha jasa aplikasi DECS, yakni jasa agensi kredit mobil, motor dan elektronik. Selanjutnya disebut DECS.</li>
			<li>Syarat dan ketentuan adalah perjanjian antara Pengguna dan DECS yang berisikan seperangkat pengaturan yang mengatur hak, kewajiban, tanggung jawab pengguna dan DECS, serta tat acara penggunaan sistem layanan DECS.</li>
			<li>Pengguna adalah pihak yang menggunakan layanan DECS.</li>
			<li>Partner adalah perusahaan financing yang bekerja sama dengan DECS untuk memberikan layanan dana kredit untuk pengguna.</li>
			<li>Kalkulasi adalah fitur pada aplikasi DECS yang menampilkan perhitungan kredit berdasarkan jenis kredit yang pengguna inginkan.</li>
			<li>Pengajuan adalah fasilitas untuk pengguna mengajukan permintaan kredit terhadap partner DECS.</li>
		</ul>
		<li style="font-weight: 800; margin-block-start: 1em; margin-block-end: 1em;">Akun, Password dan Keamanan</li>
		<ul>
			<li>DECS tidak memungut biaya pendaftaran kepada pengguna.</li>
			<li>Pengguna memahami bahwa 1 (satu) nomor telepon hanya bisa digunakan untuk mendaftar 1 (satu) akun Pengguna DECS.</li>
		</ul>
		<li style="font-weight: 800; margin-block-start: 1em; margin-block-end: 1em;">Kalkulasi Kredit</li>
		<ul>
			<li>Pengguna dilarang melakukan manipulasi harga barang dengan tujuan apapun.</li>
			<li>Pengguna wajib memasukan nama barang, tahun produksi untuk menampilkan harga barang yang sesuai.</li>
			<li>Harga barang yang terdapat dalam aplikasi merupakan harga untuk area Jakarta.</li>
			<li>Angka angsuran merupakan simulasi dari DECS.</li>
		</ul>
		<li style="font-weight: 800; margin-block-start: 1em; margin-block-end: 1em;">Pengajuan Kredit</li>
		<ul>
			<li>Pengguna dilarang mengajukan kredit dengan menggunakan data yang tidak valid.</li>
			<li>Pengguna wajib melakukan foto KTP untuk dilakukan proses verifikasi data.</li>
			<li>Nama, dan nomor telepon harus sesuai dengan foto KTP untuk dapat diverifikasi oleh team partner.</li>
		</ul>
	</ol>
</body>
</html>