<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
            <remove name="PythonHandler" />
      <add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python36\python.exe|c:\python36\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <security> 
        <requestFiltering allowDoubleEscaping="true"></requestFiltering> 
    </security> 
	
        
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="views.app" />
    <add key="PYTHONPATH" value="d:\dev\descapi\descsystem\account" />
        <add key="LINKFILE" value="\\MACF-FILE\FileExportPDF\" />
  </appSettings>
    <system.web>
        <identity impersonate="false" />
        <authentication mode="Forms" />
    </system.web>
</configuration>